{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
  <div class="container">


    <h2>First win estimator</h2>


    <div id="message">
        {{message}}<br />
        <br />
        <br />
    </div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>
    </div>
  </div>
<script type="text/javascript">
    $(document).ready(function () {
        var text = $('#message').text();
        var regex = /((today)|(tomorrow)) at (\d+):(\d\d)(A|P)M/g;
        var new_text = text.replace(regex,convert_date);
        $('#message').text(new_text);
    });
    function convert_date(arr, p1, p2, p3, p4, p5, p6, offset, string){
        var offset2 = new Date().getTimezoneOffset();
        var minutes = parseInt(p5) - offset2;
        var hours = parseInt(p4);
        if(hours == 12){
            hours -= 12;
        }
        while(minutes < 0){
            minutes+= 60;
            hours--;
        }
        var day = p1;
        var ampm = p6;
        if(hours < 0){
            hours+= 12;
            if(ampm == "P"){
                ampm = "A";
            }else{
                ampm = "P";
                if(day == "tomorrow"){
                    day = "today";
                }
            }
        }
        if(hours == 0){
            hours = 12;
        }
        var new_time = day + " at " + hours + ":" + minutes + ampm + "M";
        return new_time;
    }
</script>
{% endblock %}